@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: normal  'Open Sans', sans-serif;

  background: #E8E8E7;
	margin: 0;
}

h1 {
  font: bold 4em 'Roboto Condensed', san-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 30px;
}

p {
  font:  1em/1.7 'Open Sans', san-serif;
  color: white;
}

nav {
  width: 220px;
  height: 100vh;
  background: #CC8F00;
  padding-top: 30px;
  position: fixed;
}

ul {
  padding: 0;
}

li {
  padding: 20px 45px;
  font: bold 1.35rem 'Roboto Condensed', san-serif;
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer;
}
.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.logo {
  margin: 0 auto 40px;
  width: 105px;
  height: 105px;
  border-radius: 55px;
  background: #E8E8E7;
}

nav > ul > li {
  color: white;
}

nav > ul > li:hover {
  background: #ffffff;
  color: #CC8F00;
  box-shadow: -3px 2px 3px rgba(0, 0, 0, .2);
  animation: menu-hover 300ms forwards;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu {
  width: 220px;
  height: 100vh;
  margin: 0;
  background: #CC8F00;
  position: absolute;
  z-index: -1;
  animation: dropdown 300ms ease-out forwards;
  top: 0;
  cursor: auto;
}

li:hover > ul.drop-menu li {
  width: 220px;
  color: white;
  display: inline-block;
}

li:hover > ul.drop-menu li:hover {
  background: #FFD25A;
  color: #362F3C;
  box-shadow: -3px 2px 3px rgba(0, 0, 0, .2);
  animation: menu-hover 300ms forwards;
}

/*--------- LANDING PAGE --------*/

/* .transition {
  margin: 0 auto;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: #E8E8E7;
  position: relative;
  top: -80px;
}

.btn {
  font: bold 1.5em 'Roboto Condensed', san-serif;
  color: #FF837B;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 35px;
} */



/*--------- WELCOME ----------*/

.offset {
  margin-left: 220px;
}

.welcome {
  padding: 120px 0;
}


/*--------- KEYFRAMES ----------*/

@keyframes menu-hover {
  0% {
    width: 220px;
  }
  100% {
    width: 230px;
  }
}

@keyframes dropdown {
  0% {
    transform: translate(225px);
    opacity: 0;
  }
  50% {
    opacity: .2;
  }
  100% {
    transform: translate(170px);
    opacity: 1;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.graph{
  margin-top: 25px;
  margin-left: 37px;
  width: 500px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid #CC8F00;

}


.card-container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  margin-inline: auto;
  margin-left: 85px;
  color: #CC8F00;
}

.card {
  background-color: white;
  border: 1px solid #CC8F00;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  font: normal 18px 'Open Sans', sans-serif;

}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.status {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
}

.active {
  color: white;
  background-color: green;
}

.not-active {
  color: white;
  background-color: red;
}

.horizontal-card {
  display: flex;
  margin-inline: auto;
  margin-top: 15px;
  flex-direction: column;
  background-color: white;
  border: 1px solid #bec5c5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 700px;
  padding: 20px;
}

.card-heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #CC8F00;
  color: #CC8F00;
}

.subheading-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.subheading {
  flex: 1;
  text-align: center;
  color: #CC8F00;

}

.subheading h4 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #CC8F00; /* Extra dark gray */
}

.subheading p {
  font-size: 16px;
  color: #5d5d5d; /* Dark gray */
}


/* @keyframes rev-dropdown {
  0% {
    transform: translate(170px);
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    transform: translate(250px);
    opacity: 0;
  }
} */
